@model WebASP_5.Models.Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Детальніше</h2>

<div>
    <h4>Вчитель</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dd>
            <h6>Предмети</h6>
            @foreach (WebASP_5.Models.Subject item in Model.Subjects)
            {
                <p>@item.SubjectName</p>
            }
        </dd>

        <dd>
            <h6>Групи</h6>
            @foreach (WebASP_5.Models.Group item in Model.Groups)
            {
                <p>@item.GroupName</p>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад до списку", "Index")
</p>
